/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* navigation bar (header) */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

header .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 50px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    height: 40px;
    color: black;
}

.mega-menu {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    top: calc(100% + 50px);
    padding: 5px;
    background-color: white;
    border-bottom: 2px solid var(--main-color);
    transition: top var(--main-transition), opacity var(--main-transition);
    opacity: 0;
}

.mega-menu .links li a {
    z-index: -1;
}

.other_links:focus+.mega-menu {
    z-index: 1;
    opacity: 1;
    top: calc(100% + 1px);
}

.other_links:focus+.mega-menu .links li a {
    z-index: 3;
}

header .navigation .mega-menu .image {
    display: none;
}

.mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
}

.mega-menu .links li a i {
    margin-right: 10px;
}

/* responsive header */
@media (min-width:768px) {
    header .container {
        flex-direction: row;
    }

    .navigation li a {
        height: 72px;
        position: relative;
        padding: 0 30px;
        overflow: hidden;
        font-size: 18px;
        transition: var(--main-transition);
    }

    .navigation li a:hover {
        color: var(--main-color);
        background-color: var(--section-background);
    }

    .navigation li a::after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: var(--main-color);
        transition: var(--main-transition);
    }

    .navigation li a:hover::after {
        width: 100%;
    }

    .mega-menu {
        flex-direction: row;
        gap: 40px;
        padding: 30px;
    }

    .mega-menu .links {
        flex-basis: 250px;
        flex-grow: 1;
    }
}

@media (min-width:992px) {
    header .navigation .mega-menu .image {
        display: block;
    }

    header .navigation .mega-menu .image img {
        max-width: 100%;
        height: 200px;
    }
}


/* navigation bar (header) */


/* landing section start */
.landing {
    height: calc(100vh - 72px);
    max-width: 100%;
    position: relative;
}

.landing::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -40px;
    background-color: var(--section-background);
    transform-origin: top left;
    z-index: -2;
    transform: skewY(-6deg);
}

.go-down {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: var(--main-color-alt);
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.landing .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 120px;
}

.landing .text p {
    font-size: 18px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

.landing .text h1 {
    font-size: 28px;
    letter-spacing: -2px;
    margin: 0;

}

.landing .image {
    display: none;
}


@media (min-width:768px) {
    h1 {
        font-size: 40px;
    }

    .landing .text p {
        font-size: 23px;
    }
}

@media (min-width:992px) {
    .landing .container {
        flex-direction: row;
        text-align: start;

    }

    .landing .text {
        flex-basis: 40%;
        flex-grow: 1;
    }

    .landing .image {
        display: block;
        flex-basis: 600px;
        flex-grow: 1;
    }

    .landing .image img {
        max-width: 100%;
        position: relative;
        animation-name: up_and_down;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 3s;
    }

    h1 {
        font-size: 40px !important;
    }


    @keyframes up_and_down {
        0% {

            transform: translateY(0);
        }

        50% {

            transform: translateY(30px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes bounce {

        0%,
        10%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40%,
        60% {
            transform: translateY(-15px);
        }
    }



}

/* landong section end */