/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* navigation bar (header) */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

header .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 50px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    height: 40px;
    color: black;
}

.mega-menu {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    top: calc(100% + 50px);
    padding: 5px;
    background-color: white;
    border-bottom: 2px solid var(--main-color);
    transition: top var(--main-transition), opacity var(--main-transition);
    opacity: 0;
}

.mega-menu .links li a {
    z-index: -1;
}

.other_links:focus+.mega-menu {
    z-index: 1;
    opacity: 1;
    top: calc(100% + 1px);
}

.other_links:focus+.mega-menu .links li a {
    z-index: 3;
}

header .navigation .mega-menu .image {
    display: none;
}

.mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
}

.mega-menu .links li a i {
    margin-right: 10px;
}


/* main-title (special heading) */
.main-title {
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 auto 80px;
    width: fit-content;
    border: 2px solid black;
    font-size: 30px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::after,
.main-title::before {
    content: "";
    aspect-ratio: 1 / 1;
    height: 13px;
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--main-color);

}

.main-title::after {
    right: -30px;
}

.main-title::before {
    left: -30px;

}

.main-title:hover {
    color: white;
}

.main-title:hover::after {
    animation: right-move 0.5s linear forwards;

}

.main-title:hover::before {
    animation: left-move 0.5s linear forwards;
}

/* main-title (special heading) */

/* responsive header */
@media (min-width:768px) {
    header .container {
        flex-direction: row;
    }

    .navigation li a {
        height: 72px;
        position: relative;
        padding: 0 30px;
        overflow: hidden;
        font-size: 18px;
        transition: var(--main-transition);
    }

    .navigation li a:hover {
        color: var(--main-color);
        background-color: var(--section-background);
    }

    .navigation li a::after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: var(--main-color);
        transition: var(--main-transition);
    }

    .navigation li a:hover::after {
        width: 100%;
    }

    .mega-menu {
        flex-direction: row;
        gap: 40px;
        padding: 30px;
    }

    .mega-menu .links {
        flex-basis: 250px;
        flex-grow: 1;
    }
}

@media (min-width:992px) {
    header .navigation .mega-menu .image {
        display: block;
    }

    header .navigation .mega-menu .image img {
        max-width: 100%;
        height: 200px;
    }
}


/* navigation bar (header) */


/* landing section start */
.landing {
    height: calc(100vh - 72px);
    max-width: 100%;
    position: relative;
}

.landing::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -40px;
    background-color: var(--section-background);
    transform-origin: top left;
    z-index: -2;
    transform: skewY(-6deg);
}

.go-down {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: var(--main-color-alt);
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.landing .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 120px;
}

.landing .text p {
    font-size: 18px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

.landing .text h1 {
    font-size: 28px;
    letter-spacing: -2px;
    margin: 0;

}

.landing .image {
    display: none;
}


@media (min-width:768px) {
    h1 {
        font-size: 40px;
    }

    .landing .text p {
        font-size: 23px;
    }
}

@media (min-width:992px) {
    .landing .container {
        flex-direction: row;
        text-align: start;

    }

    .landing .text {
        flex-basis: 40%;
        flex-grow: 1;
    }

    .landing .image {
        display: block;
        flex-basis: 600px;
        flex-grow: 1;
    }

    .landing .image img {
        max-width: 100%;
        position: relative;
        animation-name: up_and_down;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 3s;
    }

    h1 {
        font-size: 40px !important;
    }
}

/* landing section end */


/* articles section start */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.articles .container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}


.articles .article-card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
    transition: var(--main-transition);
}

.article-card:hover {
    transform: translateY(-10px);
}

.article-card:hover .info i {
    animation: moving-arrow 0.5s linear infinite;
}

.articles .container .article-card img {
    display: block;
    max-width: 100%;
}

.articles .card-content {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.card-content h3 {
    margin: 0;
}

.card-content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}

.article-card .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color)
}

.article-card .info a {
    color: var(--main-color);
    font-weight: bold;
}


/* articles section end */


/* gallery section start */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #ddd;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
@media (max-width:340px) {
    .gallery .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        
    }
}

.gallery .container .box {
    padding: 15px;
    background-color: white;
}

.gallery .card-image {
    overflow: hidden;
    position: relative;
}

.gallery .card-image::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: var(--main-transition);
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    z-index: 1;
}

.gallery .card-image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.gallery .card-image:hover::before {
    animation: flashing 0.7s;
}

.gallery .container .card-image img {
    max-width: 100%;
    transition: var(--main-transition);
}

/* gallery section end */

/* features section start */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    max-width: 100%;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    text-align: center;
    max-width: 100%;
}
@media (max-width:340px) {
    .features .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}


.features-box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features-box h1 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
    padding: 10px;
}

.features-box h1::after {
    content: " ";
    position: absolute;
    height: 5px;
    width: 70%;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.passion h1::after {
    background-color: #03a9f4;
}

.time h1::after {
    background-color: #009688;
}

.quality h1::after {
    background-color: rgb(244, 61, 52);
}
.features-box .image{
    position: relative;
    overflow: hidden;
}
.features-box .image::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.features-box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
  }
  .features .features-box:hover .image::after{
    border-width: 170px 500px 170px 0;
   
  }
.quality .image::before{
    background-color: rgba(244, 61, 52,60%);
    
}
.time .image::before{
    background-color: rgb(0, 150, 136,60%);
    
}
.passion .image::before{
    background-color: rgb(3, 169, 244,60%)
}


.features-box a {
    display: block;
    border: 3px solid;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% ;
    background-position: right;
}

.time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200%;
    background-position: right;
}

.passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200%;
    background-position: right bottom;
}

.features .time h2::after {
    background-color: #009688;
}

.features .passion h2::after {
    background-color: #03a9f4;
}

.features .features-box:hover a {
    background-position: left bottom;
    color: white;
}

.features-box .image img {
    display: block;
    max-width: 100%;
    
}
/* features section end */

/* testimonials section start */
.testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    max-width: 100%;
}
.testimonials .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
gap: 40px;
}
@media (max-width:378px) {
    .testimonials .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.testimonials .container .testimonail-box{
    max-width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
    position: relative;
}
.testimonials .container .testimonail-box h3{
    margin: 0 0 10px;
}
.testimonials .container .testimonail-box .title{
    color: #777;
    margin: 0 0 10px;
}
.testimonials .container .testimonail-box .description{
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}
.testimonail-box .stars .fas{
    color: #FFC107;
}
.testimonail-box img{
    aspect-ratio: 1 / 1;
    height: 100px;
    position: absolute;
    right: -10px;
    top: -50px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}
/* testimonials section end */

/* team-members section start */
.team-members{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.team-members .team-box{
    position: relative;
}
.team-members .team-box::before{
    content: " ";
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    width: calc(100% - 100px);
    background-color: var(--section-background);
    z-index: -2;
    border-radius: 10px;
}
.team-members .team-box::after{
    content: " ";
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    width: 0;
    background-color: #e4e4e4;
    z-index: -1;
    transition: var(--main-transition);
    border-radius: 10px;
}
.team-members .team-box:hover::after{
    width: calc(100% - 50px);
}
.team-members .team-box:hover .data img{
    filter: grayscale(100%);
}
.team-box .data{
    display: flex;
    align-items: center;
    padding-top: 90px;
}
.team-box .info h3{
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}
.team-box .info p{
    margin-top: 10px;
    margin-bottom: 25px;
    transition: var(--main-transition);
}

.team-box .data img{
max-width: 80%;
border-radius: 10px;
}
.team-media >*{
display: block;
padding: 20px;

}
.team-media span i{
    color: #777;
}

.team-media span i:hover{
    color: var(--main-color);
    cursor: pointer;
}
.team-box .info{
    padding-left: 80px;
}

/* team-members section end */

/* animations start */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes up_and_down {
    0% {

        transform: translateY(0);
    }

    50% {

        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* animations end*/